EAL-MAIN-ADF/PartialArmTemplates/ArmTemplate_7_7_2021_15_5_54.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EAL-MAIN-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/user_data_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF user data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": true,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Info",
									"enableReliableLogging": true
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "eal_main_blob_connection",
										"type": "LinkedServiceReference"
									}
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "payroll_id",
											"type": "Int32"
										},
										"sink": {
											"name": "payroll_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "employee_id",
											"type": "Int32"
										},
										"sink": {
											"name": "employee_id",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "username",
											"type": "String"
										},
										"sink": {
											"name": "username",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String"
										},
										"sink": {
											"name": "first_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String"
										},
										"sink": {
											"name": "middle_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String"
										},
										"sink": {
											"name": "last_name",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "preferred_nickname",
											"type": "String"
										},
										"sink": {
											"name": "preferred_nickname",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String"
										},
										"sink": {
											"name": "email",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pilot_license",
											"type": "String"
										},
										"sink": {
											"name": "pilot_license",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "phone_numbers",
											"type": "String"
										},
										"sink": {
											"name": "phone_numbers",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "DateTime"
										},
										"sink": {
											"name": "date_of_birth",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date_of_hire",
											"type": "DateTime"
										},
										"sink": {
											"name": "date_of_hire",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "date_of_longevity",
											"type": "DateTime"
										},
										"sink": {
											"name": "date_of_longevity",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "company_rank",
											"type": "Int32"
										},
										"sink": {
											"name": "company_rank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "pilot_rank",
											"type": "Int32"
										},
										"sink": {
											"name": "pilot_rank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "fa_rank",
											"type": "Int32"
										},
										"sink": {
											"name": "fa_rank",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"name": "updated_at",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "enabled",
											"type": "Boolean"
										},
										"sink": {
											"name": "enabled",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "deleted",
											"type": "Boolean"
										},
										"sink": {
											"name": "deleted",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "is_disabled",
											"type": "Boolean"
										},
										"sink": {
											"name": "is_disabled",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_user",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_bi_user_text",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "USERblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF user data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "USERblobtoSQL_copy1",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								}
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/USERblobtoSQL_copy1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/USERblobtoSQL_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SF_source_bi_user_text",
								"type": "DatasetReference"
							},
							"name": "SFUser"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_USER_TABLE",
								"type": "DatasetReference"
							},
							"name": "USERtoSQL"
						}
					],
					"transformations": [
						{
							"name": "AddWrkflwIDandTS"
						}
					],
					"script": "parameters{\n\trun_id as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> SFUser\nSFUser derive(ADF_TIMESTAMP = currentTimestamp(),\n\t\tRUN_ID = $run_id) ~> AddWrkflwIDandTS\nAddWrkflwIDandTS sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> USERtoSQL"
				}
			},
			"dependsOn": []
		}
	]
}