pipeline/Flight_data_incr_update.json
{
	"name": "Flight_data_incr_update",
	"properties": {
		"description": "Populates flight data in SQL Server DB from SkedFlex.",
		"activities": [
			{
				"name": "SF_Flight_data_to_Azure_blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get_Prev_ADF_TIMESTAMP",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "PostgreSqlSource",
						"query": {
							"value": "SELECT * FROM \"bi\".\"flight\" WHERE updated_at > '@{activity('Get_Prev_ADF_TIMESTAMP').output.firstRow.LASTTS}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "flight_id",
									"type": "Int64"
								},
								"sink": {
									"path": "$['flight_id']"
								}
							},
							{
								"source": {
									"name": "flight_number",
									"type": "String"
								},
								"sink": {
									"path": "$['flight_number']"
								}
							},
							{
								"source": {
									"name": "flight_date",
									"type": "DateTime"
								},
								"sink": {
									"path": "$['flight_date']"
								}
							},
							{
								"source": {
									"name": "aircraft_registration_number",
									"type": "String"
								},
								"sink": {
									"path": "$['aircraft_registration_number']"
								}
							},
							{
								"source": {
									"name": "aircraft_type",
									"type": "String"
								},
								"sink": {
									"path": "$['aircraft_type']"
								}
							},
							{
								"source": {
									"name": "ops_type",
									"type": "String"
								},
								"sink": {
									"path": "$['ops_type']"
								}
							},
							{
								"source": {
									"name": "scheduled_departure",
									"type": "String"
								},
								"sink": {
									"path": "$['scheduled_departure']"
								}
							},
							{
								"source": {
									"name": "scheduled_arrival",
									"type": "String"
								},
								"sink": {
									"path": "$['scheduled_arrival']"
								}
							},
							{
								"source": {
									"name": "estimated_departure",
									"type": "String"
								},
								"sink": {
									"path": "$['estimated_departure']"
								}
							},
							{
								"source": {
									"name": "estimated_arrival",
									"type": "String"
								},
								"sink": {
									"path": "$['estimated_arrival']"
								}
							},
							{
								"source": {
									"name": "actual_oooi_out",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_oooi_out']"
								}
							},
							{
								"source": {
									"name": "actual_oooi_off",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_oooi_off']"
								}
							},
							{
								"source": {
									"name": "actual_oooi_on",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_oooi_on']"
								}
							},
							{
								"source": {
									"name": "actual_oooi_in",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_oooi_in']"
								}
							},
							{
								"source": {
									"name": "base_airport_id",
									"type": "Int32"
								},
								"sink": {
									"path": "$['base_airport_id']"
								}
							},
							{
								"source": {
									"name": "sched_depart_airport_id",
									"type": "Int32"
								},
								"sink": {
									"path": "$['sched_depart_airport_id']"
								}
							},
							{
								"source": {
									"name": "sched_arrive_airport_id",
									"type": "Int32"
								},
								"sink": {
									"path": "$['sched_arrive_airport_id']"
								}
							},
							{
								"source": {
									"name": "actual_depart_airport_id",
									"type": "Int32"
								},
								"sink": {
									"path": "$['actual_depart_airport_id']"
								}
							},
							{
								"source": {
									"name": "actual_arrive_airport_id",
									"type": "Int32"
								},
								"sink": {
									"path": "$['actual_arrive_airport_id']"
								}
							},
							{
								"source": {
									"name": "base_airport",
									"type": "String"
								},
								"sink": {
									"path": "$['base_airport']"
								}
							},
							{
								"source": {
									"name": "scheduled_departure_airport",
									"type": "String"
								},
								"sink": {
									"path": "$['scheduled_departure_airport']"
								}
							},
							{
								"source": {
									"name": "scheduled_arrival_airport",
									"type": "String"
								},
								"sink": {
									"path": "$['scheduled_arrival_airport']"
								}
							},
							{
								"source": {
									"name": "actual_departure_airport",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_departure_airport']"
								}
							},
							{
								"source": {
									"name": "actual_arrival_airport",
									"type": "String"
								},
								"sink": {
									"path": "$['actual_arrival_airport']"
								}
							},
							{
								"source": {
									"name": "is_verified",
									"type": "Boolean"
								},
								"sink": {
									"path": "$['is_verified']"
								}
							},
							{
								"source": {
									"name": "notes",
									"type": "String"
								},
								"sink": {
									"path": "$['notes']"
								}
							},
							{
								"source": {
									"name": "is_canceled",
									"type": "Boolean"
								},
								"sink": {
									"path": "$['is_canceled']"
								}
							},
							{
								"source": {
									"name": "flight_type",
									"type": "String"
								},
								"sink": {
									"path": "$['flight_type']"
								}
							},
							{
								"source": {
									"name": "cargo_weight",
									"type": "Int32"
								},
								"sink": {
									"path": "$['cargo_weight']"
								}
							},
							{
								"source": {
									"name": "cargo_on",
									"type": "Int32"
								},
								"sink": {
									"path": "$['cargo_on']"
								}
							},
							{
								"source": {
									"name": "cargo_off",
									"type": "Int32"
								},
								"sink": {
									"path": "$['cargo_off']"
								}
							},
							{
								"source": {
									"name": "fuel_out",
									"type": "Decimal"
								},
								"sink": {
									"path": "$['fuel_out']"
								}
							},
							{
								"source": {
									"name": "fuel_in",
									"type": "Decimal"
								},
								"sink": {
									"path": "$['fuel_in']"
								}
							},
							{
								"source": {
									"name": "fuel_uplift",
									"type": "Int32"
								},
								"sink": {
									"path": "$['fuel_uplift']"
								}
							},
							{
								"source": {
									"name": "fuel_uplifts",
									"type": "String"
								},
								"sink": {
									"path": "$['fuel_uplifts']"
								}
							},
							{
								"source": {
									"name": "maint_log_page",
									"type": "String"
								},
								"sink": {
									"path": "$['maint_log_page']"
								}
							},
							{
								"source": {
									"name": "lndg_touchdown_zone",
									"type": "Int32"
								},
								"sink": {
									"path": "$['lndg_touchdown_zone']"
								}
							},
							{
								"source": {
									"name": "lndg_midfield",
									"type": "Int32"
								},
								"sink": {
									"path": "$['lndg_midfield']"
								}
							},
							{
								"source": {
									"name": "lndg_rollout",
									"type": "Int32"
								},
								"sink": {
									"path": "$['lndg_rollout']"
								}
							},
							{
								"source": {
									"name": "lndg_actual_braking",
									"type": "String"
								},
								"sink": {
									"path": "$['lndg_actual_braking']"
								}
							},
							{
								"source": {
									"name": "pax",
									"type": "Int32"
								},
								"sink": {
									"path": "$['pax']"
								}
							},
							{
								"source": {
									"name": "mission_id",
									"type": "String"
								},
								"sink": {
									"path": "$['mission_id']"
								}
							},
							{
								"source": {
									"name": "updated_at",
									"type": "String"
								},
								"sink": {
									"path": "$['updated_at']"
								}
							},
							{
								"source": {
									"name": "customer_name",
									"type": "String"
								},
								"sink": {
									"path": "$['customer_name']"
								}
							},
							{
								"source": {
									"name": "customer_code",
									"type": "String"
								},
								"sink": {
									"path": "$['customer_code']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "SF_source_bi_flight_TEST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SF_source_flights_TEST",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "FLIGHTSblobtoSQL",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "SF_Flight_data_to_Azure_blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "FLIGHTSblobtoSQL_incr_update_A",
						"type": "DataFlowReference",
						"parameters": {
							"run_id": {
								"value": "'@{pipeline().RunId}'",
								"type": "Expression"
							},
							"lastADFTS": {
								"value": "@activity('Get_Prev_ADF_TIMESTAMP').output.firstRow.LASTTS",
								"type": "Expression"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Get_Prev_ADF_TIMESTAMP",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX([ADF_TIMESTAMP]) AS LASTTS FROM [dbo].[SQL_FLIGHT_TABLE_TEST]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_FLT_TABLE_TEST",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			}
		],
		"variables": {
			"date": {
				"type": "String"
			},
			"last_ADF_TS": {
				"type": "String",
				"defaultValue": "2022-03-24T15:41:51.157"
			}
		},
		"folder": {
			"name": "Testing"
		},
		"annotations": [],
		"lastPublishTime": "2021-06-14T16:02:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}