EAL-MAIN-ADF/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EAL-MAIN-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Parse NavBlue RecallFlight XML')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "NavBlue"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "NAVBLUE_CSV_RecallFlight",
								"type": "DatasetReference"
							},
							"name": "NavBlueCSVreallyXML"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Json1",
								"type": "DatasetReference"
							},
							"name": "OutputToJSON"
						}
					],
					"transformations": [
						{
							"name": "ParseXML"
						},
						{
							"name": "RemoveColumns"
						}
					],
					"scriptLines": [
						"source(output(",
						"          {_col0_} as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> NavBlueCSVreallyXML",
						"NavBlueCSVreallyXML parse(EstOutTime = {_col0_} ? (FlightPlan as (FlightPlanSummary as (OutTime as (EstimatedTime as (Value as string))))),",
						"          TakeOffFuelDuration = {_col0_} ? (FlightPlan as (FuelHeader as (TakeOffFuel as (Duration as (Value as string))))),",
						"          TakeOffFuelEstWeight = {_col0_} ? (FlightPlan as (FuelHeader as (TakeOffFuel as (EstimatedWeight as (Value as ({@unit} as string,",
						"          {_value_} as string)))))),",
						"          ArrFuelEstWeight = {_col0_} ? (FlightPlan as (FuelHeader as (ArrivalFuel as (EstimatedWeight as (Value as ({@unit} as string,",
						"          {_value_} as string)))))),",
						"          FlightPlanID = {_col0_} ? (FlightPlan as ({@flightPlanId} as string)),",
						"          FltNbr = {_col0_} ? (FlightPlan as (M633SupplementaryHeader as (Flight as (FlightIdentification as (FlightNumber as ({@number} as string)))))),",
						"     format: 'xml',",
						"     namespaces: false) ~> ParseXML",
						"ParseXML select(mapColumn(",
						"          FlightPlanID = FlightPlanID.FlightPlan.{@flightPlanId},",
						"          FltNbr = FltNbr.FlightPlan.M633SupplementaryHeader.Flight.FlightIdentification.FlightNumber.{@number},",
						"          EstOutTime = EstOutTime.FlightPlan.FlightPlanSummary.OutTime.EstimatedTime.Value,",
						"          TakeOffFuelDuration = TakeOffFuelDuration.FlightPlan.FuelHeader.TakeOffFuel.Duration.Value,",
						"          TakeOffFuelEstWeightUnit = TakeOffFuelEstWeight.FlightPlan.FuelHeader.TakeOffFuel.EstimatedWeight.Value.{@unit},",
						"          TakeOffFuelEstWeightValue = TakeOffFuelEstWeight.FlightPlan.FuelHeader.TakeOffFuel.EstimatedWeight.Value.{_value_},",
						"          ArrFuelEstWeightUnit = ArrFuelEstWeight.FlightPlan.FuelHeader.ArrivalFuel.EstimatedWeight.Value.{@unit},",
						"          ArrFuelEstWeightValue = ArrFuelEstWeight.FlightPlan.FuelHeader.ArrivalFuel.EstimatedWeight.Value.{_value_}",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> RemoveColumns",
						"RemoveColumns sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          HTML as (HEAD as (link as ({@rel} as string, {@type} as string, {@href} as string), STYLE as ({@type} as string, {_value_} as string), TITLE as string), BODY as (DIV as (P as ({@class} as string, {_value_} as string)[], BR as string[], PRE as (font as ({@color} as string, {_value_} as string)[], {_value_} as string[])[], {@id} as string, {_value_} as string))),",
						"          {s:Envelope} as ({s:Header} as ({o:Security} as ({u:Timestamp} as ({u:Created} as string, {u:Expires} as string, {u:@Id} as string), {s:@mustUnderstand} as integer)), {s:Body} as (GetFlightListResponse as (Error as ({xsi:@nil} as boolean), Warning as ({xsi:@nil} as boolean), ExecutionTimeSec as double, Flights as (Key as (WhoAlc as string, FltNum as integer, StdUtc as string, OrigApt as string, TestFlight as boolean, RepeatNumber as integer), DestApt as ({xsi:@nil} as boolean), AircraftId as ({xsi:@nil} as boolean), AtcAlc as ({xsi:@nil} as boolean))[])))",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     mapColumn(",
						"          FlightPlanID,",
						"          FltNbr,",
						"          EstOutTime,",
						"          TakeOffFuelDuration,",
						"          TakeOffFuelEstWeightUnit,",
						"          TakeOffFuelEstWeightValue,",
						"          ArrFuelEstWeightUnit,",
						"          ArrFuelEstWeightValue",
						"     )) ~> OutputToJSON"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ParseCSVtest')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "NavBlue"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "NAVBLUE_CSV_RecallFlight",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "aggregate1"
						},
						{
							"name": "ModifyColumns1",
							"description": "Autogenerated by data preview actions"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          Data as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 aggregate(groupBy(Data),",
						"     AGG = collect(Data)) ~> aggregate1",
						"aggregate1 derive(AGG = toString(AGG)) ~> ModifyColumns1",
						"ModifyColumns1 derive(Data = replace('\\\"','\\\"','\"')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> sink1"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Payload767toSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "PROD"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "767_PAYLOAD_LBS",
								"type": "DatasetReference"
							},
							"name": "PayloadLBS"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_767_Payloads",
								"type": "DatasetReference"
							},
							"name": "SQL767Payload"
						}
					],
					"transformations": [],
					"scriptLines": [
						"source(output(",
						"          TAIL as string,",
						"          TYPE as string,",
						"          PAYLOAD_LBS as integer,",
						"          SEATS as integer",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> PayloadLBS",
						"PayloadLBS sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     recreate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          TAIL,",
						"          TYPE,",
						"          PAYLOAD_LBS,",
						"          SEATS",
						"     )) ~> SQL767Payload"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SHIFTblobtoSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Inactive"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SF_source_shift",
								"type": "DatasetReference"
							},
							"name": "SFShift"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_SHIFT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SHIFTtoSQL"
						}
					],
					"transformations": [
						{
							"name": "AddWrkflwIDandTS"
						}
					],
					"script": "parameters{\n\trun_id as string\n}\nsource(output(\n\t\tshift_id as string,\n\t\tuser_id as string,\n\t\tname as string,\n\t\tstart_time as string,\n\t\tend_time as string,\n\t\ttype as string,\n\t\tis_work as boolean,\n\t\tis_reserve as boolean,\n\t\tis_sick as boolean,\n\t\tis_training as boolean,\n\t\tis_vacation as boolean,\n\t\tupdated_at as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> SFShift\nSFShift derive(ADF_TIMESTAMP = currentTimestamp(),\n\t\tRUN_ID = $run_id) ~> AddWrkflwIDandTS\nAddWrkflwIDandTS sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tshift_id as string,\n\t\tuser_id as string,\n\t\tname as string,\n\t\tstart_time as timestamp,\n\t\tend_time as timestamp,\n\t\ttype as string,\n\t\tis_work as boolean,\n\t\tis_reserve as boolean,\n\t\tis_sick as boolean,\n\t\tis_training as boolean,\n\t\tis_vacation as boolean,\n\t\tupdated_at as string,\n\t\tADF_TIMESTAMP as timestamp,\n\t\tRUN_ID as string\n\t),\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> SHIFTtoSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQL Navblue Flight List Live Flts')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Filters yesterday NavBlue Flight List for flights that actually operated in SF.",
				"folder": {
					"name": "NavBlue"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_NAVBLUE_Flight_List_TEST",
								"type": "DatasetReference"
							},
							"name": "SQLNavblueFlightListTest"
						},
						{
							"dataset": {
								"referenceName": "SQL_FLIGHT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SQLSFFlightProd"
						},
						{
							"dataset": {
								"referenceName": "SQL_AIRPORT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SQLAirportProd"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_NAVBLUE_FLIGHT_LIST_LIVE_FLTS",
								"type": "DatasetReference"
							},
							"name": "SQLFlightListLiveFlights"
						}
					],
					"transformations": [
						{
							"name": "CompToSFflights",
							"description": "Compare yesterday's NavBlue flights to flights that actually operated in SF. Pass thru NavBlue flights that actually operated."
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "JoinToAirports",
							"description": "Retrieve ICAO airport codes from SF Airports table to add to SF Flight data.  ICAO airport code is needed as part of primary key to match against NavBlue flight list."
						}
					],
					"scriptLines": [
						"source(output(",
						"          WhoAlc as string,",
						"          FltNum as string,",
						"          StdUtc as timestamp,",
						"          OrigApt as string,",
						"          TestFlight as boolean,",
						"          RepeatNumber as boolean,",
						"          ADF_TIMESTAMP as timestamp,",
						"          RUN_ID as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     format: 'table') ~> SQLNavblueFlightListTest",
						"source(output(",
						"          flight_number as string,",
						"          SCHED_DEP_DATE as date,",
						"          scheduled_departure as timestamp,",
						"          sched_depart_airport_id as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT flight_number, CAST(scheduled_departure AS DATE) AS \\'SCHED_DEP_DATE\\'\\n, scheduled_departure\\n, sched_depart_airport_id\\nFROM dbo.SF_FLIGHT_PROD\\nWHERE aircraft_registration_number IS NOT NULL\\nAND is_canceled = \\'false\\'\\nAND CAST(scheduled_departure AS DATE) = DATEADD(day,-1,CONVERT(date, GETUTCDATE()))',",
						"     format: 'query') ~> SQLSFFlightProd",
						"source(output(",
						"          airport_id as string,",
						"          icao_code as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     isolationLevel: 'READ_UNCOMMITTED',",
						"     query: 'SELECT airport_id\\n, icao_code\\nFROM dbo.SF_AIRPORT_PROD',",
						"     format: 'query') ~> SQLAirportProd",
						"SQLNavblueFlightListTest, JoinToAirports exists(FltNum == flight_number",
						"     && StdUtc == scheduled_departure",
						"     && OrigApt == icao_code,",
						"     negate:false,",
						"     broadcast: 'auto')~> CompToSFflights",
						"SQLSFFlightProd derive(SCHED_DEP_DATE_STR = toString(SCHED_DEP_DATE)) ~> derivedColumn1",
						"derivedColumn1, SQLAirportProd join(sched_depart_airport_id == airport_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> JoinToAirports",
						"CompToSFflights sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError') ~> SQLFlightListLiveFlights"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TESTFltDataWthCategories_JOIN')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Adds \"FLIGHT_TYPE,\" \"FLIGHT_SUBTYPE\" and \"FLT_TYPE_OPS_REPORT\" columns to Flight table in SQL Server.",
				"folder": {
					"name": "TEST"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_FLIGHT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SQLFltData"
						},
						{
							"dataset": {
								"referenceName": "Flt_nbr_range_matrix_csv",
								"type": "DatasetReference"
							},
							"name": "FltNbrRangeMatrixCSV",
							"description": "Import data from Flt_nbr_range_matrix_csv.\nMUST FORMAT DATES AS \"yyyy-MM-dd HH:mm:ss\""
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SF_FLT_CMBandSTDnbrs",
								"type": "DatasetReference"
							},
							"name": "FltDataToSQL"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1",
							"description": "Splits flight data into two sets: one with flight numbers beginning with \"CMB\" and another for purely numeric flight numbers."
						},
						{
							"name": "STDfltnbrRevCat",
							"description": "Changes flight data \"flt_type\" to \"flight_type\" and flt number range data \"FLIGHT_TYPE\" to \"REVENUE_TYPE\""
						},
						{
							"name": "CMBfltnbrRevCat",
							"description": "Assigns \"DOD Int'l\" revenue type to all flight numbers beginning with \"CMB.\""
						},
						{
							"name": "UnionCMBandSTDfltnbrs"
						},
						{
							"name": "ChangeFltNumToINT",
							"description": "Converts \"flight_number\" to integer."
						},
						{
							"name": "TrunkFltType",
							"description": "Renames \"flight_type\" to \"flt_type\" to avoid duplicate column names with \"FLIGHT_TYPE\" in FltNbrRangeMatrix."
						},
						{
							"name": "ChgFltNumToString",
							"description": "Converts \"flight_number\" to string."
						},
						{
							"name": "JoinToFltNbrRangeMatrix"
						},
						{
							"name": "ChangeBegEndFltNbrToInt",
							"description": "Converts \"BEGIN_FLT_NBR,\" \"END_FLT_NBR\" to integer."
						},
						{
							"name": "ChgColOrder",
							"description": "Reorder columns to match orig. dbo.SF_FLIGHT_PROD."
						}
					],
					"script": "source(output(\n\t\tactual_arrival_airport as string,\n\t\tactual_arrive_airport_id as string,\n\t\tactual_depart_airport_id as string,\n\t\tactual_departure_airport as string,\n\t\tactual_oooi_in as timestamp,\n\t\tactual_oooi_off as timestamp,\n\t\tactual_oooi_on as timestamp,\n\t\tactual_oooi_out as timestamp,\n\t\taircraft_registration_number as string,\n\t\taircraft_type as string,\n\t\tbase_airport as string,\n\t\tbase_airport_id as string,\n\t\tcargo_off as integer,\n\t\tcargo_on as integer,\n\t\tcargo_weight as integer,\n\t\testimated_arrival as timestamp,\n\t\testimated_departure as timestamp,\n\t\tflight_date as date,\n\t\tflight_id as integer,\n\t\tflight_number as string,\n\t\tflight_type as string,\n\t\tfuel_in as double,\n\t\tfuel_out as double,\n\t\tfuel_uplift as integer,\n\t\tfuel_uplifts as string,\n\t\tis_canceled as string,\n\t\tis_verified as string,\n\t\tlndg_actual_braking as string,\n\t\tlndg_midfield as string,\n\t\tlndg_rollout as string,\n\t\tlndg_touchdown_zone as string,\n\t\tmaint_log_page as string,\n\t\tnotes as string,\n\t\tops_type as string,\n\t\tsched_arrive_airport_id as string,\n\t\tsched_depart_airport_id as string,\n\t\tscheduled_arrival as timestamp,\n\t\tscheduled_arrival_airport as string,\n\t\tscheduled_departure as timestamp,\n\t\tscheduled_departure_airport as string,\n\t\tupdated_at as timestamp,\n\t\tADF_TIMESTAMP as timestamp,\n\t\tRUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SQLFltData\nsource(output(\n\t\tEFF_DATE as string,\n\t\tEND_DATE as string,\n\t\tBEGIN_FLT_NBR as string,\n\t\tEND_FLT_NBR as string,\n\t\tFLIGHT_TYPE as string,\n\t\tFLIGHT_SUBTYPE as string,\n\t\tFLT_TYPE_OPS_REPORT as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> FltNbrRangeMatrixCSV\nSQLFltData split(startsWith(flight_number,'CMB'),\n\tdisjoint: false) ~> ConditionalSplit1@(CMBfltnbr, STDfltnbr)\nChgFltNumToString select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflight_type = flt_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID,\n\t\tREVENUE_TYPE = FLIGHT_TYPE,\n\t\tREVENUE_SUBTYPE = FLIGHT_SUBTYPE,\n\t\tFLT_TYPE_OPS_REPORT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> STDfltnbrRevCat\nConditionalSplit1@CMBfltnbr derive(REVENUE_TYPE = \"DOD Int'l\",\n\t\tREVENUE_SUBTYPE = \"International\",\n\t\tFLT_TYPE_OPS_REPORT = \"DOD\") ~> CMBfltnbrRevCat\nCMBfltnbrRevCat, STDfltnbrRevCat union(byName: true)~> UnionCMBandSTDfltnbrs\nConditionalSplit1@STDfltnbr derive(flight_number = toInteger(flight_number),\n\t\tscheduled_departure = toString(scheduled_departure)) ~> ChangeFltNumToINT\nChangeFltNumToINT select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflt_type = flight_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> TrunkFltType\nJoinToFltNbrRangeMatrix derive(flight_number = toString(flight_number),\n\t\tscheduled_departure = toTimestamp(scheduled_departure,'yyyy-MM-dd HH:mm:ss')) ~> ChgFltNumToString\nTrunkFltType, ChangeBegEndFltNbrToInt join(flight_number >= BEGIN_FLT_NBR\n\t&& flight_number <= END_FLT_NBR\n\t&& scheduled_departure >= EFF_DATE\n\t&& scheduled_departure <= END_DATE,\n\tjoinType:'left',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'right')~> JoinToFltNbrRangeMatrix\nFltNbrRangeMatrixCSV derive(BEGIN_FLT_NBR = toInteger(BEGIN_FLT_NBR),\n\t\tEND_FLT_NBR = toInteger(END_FLT_NBR)) ~> ChangeBegEndFltNbrToInt\nUnionCMBandSTDfltnbrs select(mapColumn(\n\t\tflight_id,\n\t\tflight_number,\n\t\tflight_date,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tops_type,\n\t\tscheduled_departure_airport,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_arrival,\n\t\tactual_oooi_out,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_in,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tbase_airport_id,\n\t\tsched_depart_airport_id,\n\t\tsched_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_arrive_airport_id,\n\t\tbase_airport,\n\t\tactual_departure_airport,\n\t\tactual_arrival_airport,\n\t\tis_verified,\n\t\tnotes,\n\t\tis_canceled,\n\t\tflight_type,\n\t\tcargo_weight,\n\t\tcargo_on,\n\t\tcargo_off,\n\t\tfuel_out,\n\t\tfuel_in,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tmaint_log_page,\n\t\tlndg_touchdown_zone,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_actual_braking,\n\t\tREVENUE_TYPE,\n\t\tREVENUE_SUBTYPE,\n\t\tFLT_TYPE_OPS_REPORT,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> ChgColOrder\nChgColOrder sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> FltDataToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TESTFltDataWthCategories_LOOKUP')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "TEST"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_FLIGHT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SQLFltData"
						},
						{
							"dataset": {
								"referenceName": "Flt_nbr_range_matrix",
								"type": "DatasetReference"
							},
							"name": "FltNbrRangeMatrix"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SF_FLT_CMBandSTDnbrs",
								"type": "DatasetReference"
							},
							"name": "FltDataToSQL"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1"
						},
						{
							"name": "LookupToFltNbrRange"
						},
						{
							"name": "STDfltnbrRevCat"
						},
						{
							"name": "CMBfltnbrRevCat"
						},
						{
							"name": "UnionCMBandSTDfltnbrs"
						},
						{
							"name": "ChangeFltNumToINT"
						},
						{
							"name": "TrunkFltType"
						},
						{
							"name": "ChgFltNumToString"
						}
					],
					"script": "source(output(\n\t\tactual_arrival_airport as string,\n\t\tactual_arrive_airport_id as string,\n\t\tactual_depart_airport_id as string,\n\t\tactual_departure_airport as string,\n\t\tactual_oooi_in as timestamp,\n\t\tactual_oooi_off as timestamp,\n\t\tactual_oooi_on as timestamp,\n\t\tactual_oooi_out as timestamp,\n\t\taircraft_registration_number as string,\n\t\taircraft_type as string,\n\t\tbase_airport as string,\n\t\tbase_airport_id as string,\n\t\tcargo_off as integer,\n\t\tcargo_on as integer,\n\t\tcargo_weight as integer,\n\t\testimated_arrival as timestamp,\n\t\testimated_departure as timestamp,\n\t\tflight_date as date,\n\t\tflight_id as integer,\n\t\tflight_number as string,\n\t\tflight_type as string,\n\t\tfuel_in as double,\n\t\tfuel_out as double,\n\t\tfuel_uplift as integer,\n\t\tfuel_uplifts as string,\n\t\tis_canceled as string,\n\t\tis_verified as string,\n\t\tlndg_actual_braking as string,\n\t\tlndg_midfield as string,\n\t\tlndg_rollout as string,\n\t\tlndg_touchdown_zone as string,\n\t\tmaint_log_page as string,\n\t\tnotes as string,\n\t\tops_type as string,\n\t\tsched_arrive_airport_id as string,\n\t\tsched_depart_airport_id as string,\n\t\tscheduled_arrival as timestamp,\n\t\tscheduled_arrival_airport as string,\n\t\tscheduled_departure as timestamp,\n\t\tscheduled_departure_airport as string,\n\t\tupdated_at as timestamp,\n\t\tADF_TIMESTAMP as timestamp,\n\t\tRUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SQLFltData\nsource(output(\n\t\tEFF_DATE as timestamp 'yyyy.MM.dd HH:mm:ss',\n\t\tEND_DATE as timestamp 'yyyy.MM.dd HH:mm:ss',\n\t\tBEGIN_FLT_NBR as integer '##0',\n\t\tEND_FLT_NBR as integer '##0',\n\t\tFLIGHT_TYPE as string,\n\t\tFLIGHT_SUBTYPE as string,\n\t\tFLT_TYPE_OPS_REPORT as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> FltNbrRangeMatrix\nSQLFltData split(startsWith(flight_number,'CMB'),\n\tdisjoint: false) ~> ConditionalSplit1@(CMBfltnbr, STDfltnbr)\nTrunkFltType, FltNbrRangeMatrix lookup(flight_number >= BEGIN_FLT_NBR\n\t&& flight_number <= END_FLT_NBR\n\t&& scheduled_departure >= EFF_DATE\n\t&& scheduled_departure <= END_DATE,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'right')~> LookupToFltNbrRange\nChgFltNumToString select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflight_type = flt_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID,\n\t\tREVENUE_TYPE = FLIGHT_TYPE,\n\t\tREVENUE_SUBTYPE = FLIGHT_SUBTYPE,\n\t\tFLT_TYPE_OPS_REPORT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> STDfltnbrRevCat\nConditionalSplit1@CMBfltnbr derive(REVENUE_TYPE = \"DOD Int'l\",\n\t\tREVENUE_SUBTYPE = \"International\",\n\t\tFLT_TYPE_OPS_REPORT = \"DOD\") ~> CMBfltnbrRevCat\nCMBfltnbrRevCat, STDfltnbrRevCat union(byName: true)~> UnionCMBandSTDfltnbrs\nConditionalSplit1@STDfltnbr derive(flight_number = toInteger(flight_number)) ~> ChangeFltNumToINT\nChangeFltNumToINT select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflt_type = flight_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> TrunkFltType\nLookupToFltNbrRange derive(flight_number = toString(flight_number)) ~> ChgFltNumToString\nUnionCMBandSTDfltnbrs sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> FltDataToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TESTFltDataWthCategories_copy1')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "TEST"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQL_FLIGHT_TABLE",
								"type": "DatasetReference"
							},
							"name": "SQLFltData"
						},
						{
							"dataset": {
								"referenceName": "Flt_nbr_range_matrix",
								"type": "DatasetReference"
							},
							"name": "FltNbrRangeMatrix"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SF_FLT_CMBandSTDnbrs",
								"type": "DatasetReference"
							},
							"name": "FltDataToSQL"
						}
					],
					"transformations": [
						{
							"name": "ConditionalSplit1",
							"description": "Splits flight data into two sets: one with flight numbers beginning with \"CMB\" and another for purely numeric flight numbers."
						},
						{
							"name": "STDfltnbrRevCat",
							"description": "Changes flight data \"flt_type\" back to \"flight_type\" and changes flt number range data \"FLIGHT_TYPE\" to \"REVENUE_TYPE\""
						},
						{
							"name": "CMBfltnbrRevCat",
							"description": "Assigns \"DOD Int'l\" revenue type to all flight numbers beginning with \"CMB.\""
						},
						{
							"name": "UnionCMBandSTDfltnbrs"
						},
						{
							"name": "ChangeFltNumToINT",
							"description": "Changes \"flight_number\" to integer."
						},
						{
							"name": "TrunkFltType",
							"description": "Renaming flight_type to flt_type to avoid duplicate column names with FLIGHT_TYPE column in FltNbrRangeMatrix."
						},
						{
							"name": "ChgFltNumToString",
							"description": "Changes \"flight_number\" back to string from integer."
						},
						{
							"name": "JoinToFltNbrRangeMatrix"
						}
					],
					"script": "source(output(\n\t\tactual_arrival_airport as string,\n\t\tactual_arrive_airport_id as string,\n\t\tactual_depart_airport_id as string,\n\t\tactual_departure_airport as string,\n\t\tactual_oooi_in as timestamp,\n\t\tactual_oooi_off as timestamp,\n\t\tactual_oooi_on as timestamp,\n\t\tactual_oooi_out as timestamp,\n\t\taircraft_registration_number as string,\n\t\taircraft_type as string,\n\t\tbase_airport as string,\n\t\tbase_airport_id as string,\n\t\tcargo_off as integer,\n\t\tcargo_on as integer,\n\t\tcargo_weight as integer,\n\t\testimated_arrival as timestamp,\n\t\testimated_departure as timestamp,\n\t\tflight_date as date,\n\t\tflight_id as integer,\n\t\tflight_number as string,\n\t\tflight_type as string,\n\t\tfuel_in as double,\n\t\tfuel_out as double,\n\t\tfuel_uplift as integer,\n\t\tfuel_uplifts as string,\n\t\tis_canceled as string,\n\t\tis_verified as string,\n\t\tlndg_actual_braking as string,\n\t\tlndg_midfield as string,\n\t\tlndg_rollout as string,\n\t\tlndg_touchdown_zone as string,\n\t\tmaint_log_page as string,\n\t\tnotes as string,\n\t\tops_type as string,\n\t\tsched_arrive_airport_id as string,\n\t\tsched_depart_airport_id as string,\n\t\tscheduled_arrival as timestamp,\n\t\tscheduled_arrival_airport as string,\n\t\tscheduled_departure as timestamp,\n\t\tscheduled_departure_airport as string,\n\t\tupdated_at as timestamp,\n\t\tADF_TIMESTAMP as timestamp,\n\t\tRUN_ID as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> SQLFltData\nsource(output(\n\t\tEFF_DATE as string,\n\t\tEND_DATE as string,\n\t\tBEGIN_FLT_NBR as integer '##0',\n\t\tEND_FLT_NBR as integer '##0',\n\t\tFLIGHT_TYPE as string,\n\t\tFLIGHT_SUBTYPE as string,\n\t\tFLT_TYPE_OPS_REPORT as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> FltNbrRangeMatrix\nSQLFltData split(startsWith(flight_number,'CMB'),\n\tdisjoint: false) ~> ConditionalSplit1@(CMBfltnbr, STDfltnbr)\nChgFltNumToString select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflight_type = flt_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID,\n\t\tREVENUE_TYPE = FLIGHT_TYPE,\n\t\tREVENUE_SUBTYPE = FLIGHT_SUBTYPE,\n\t\tFLT_TYPE_OPS_REPORT\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> STDfltnbrRevCat\nConditionalSplit1@CMBfltnbr derive(REVENUE_TYPE = \"DOD Int'l\",\n\t\tREVENUE_SUBTYPE = \"International\",\n\t\tFLT_TYPE_OPS_REPORT = \"DOD\") ~> CMBfltnbrRevCat\nCMBfltnbrRevCat, STDfltnbrRevCat union(byName: true)~> UnionCMBandSTDfltnbrs\nConditionalSplit1@STDfltnbr derive(flight_number = toInteger(flight_number)) ~> ChangeFltNumToINT\nChangeFltNumToINT select(mapColumn(\n\t\tactual_arrival_airport,\n\t\tactual_arrive_airport_id,\n\t\tactual_depart_airport_id,\n\t\tactual_departure_airport,\n\t\tactual_oooi_in,\n\t\tactual_oooi_off,\n\t\tactual_oooi_on,\n\t\tactual_oooi_out,\n\t\taircraft_registration_number,\n\t\taircraft_type,\n\t\tbase_airport,\n\t\tbase_airport_id,\n\t\tcargo_off,\n\t\tcargo_on,\n\t\tcargo_weight,\n\t\testimated_arrival,\n\t\testimated_departure,\n\t\tflight_date,\n\t\tflight_id,\n\t\tflight_number,\n\t\tflt_type = flight_type,\n\t\tfuel_in,\n\t\tfuel_out,\n\t\tfuel_uplift,\n\t\tfuel_uplifts,\n\t\tis_canceled,\n\t\tis_verified,\n\t\tlndg_actual_braking,\n\t\tlndg_midfield,\n\t\tlndg_rollout,\n\t\tlndg_touchdown_zone,\n\t\tmaint_log_page,\n\t\tnotes,\n\t\tops_type,\n\t\tsched_arrive_airport_id,\n\t\tsched_depart_airport_id,\n\t\tscheduled_arrival,\n\t\tscheduled_arrival_airport,\n\t\tscheduled_departure,\n\t\tscheduled_departure_airport,\n\t\tupdated_at,\n\t\tADF_TIMESTAMP,\n\t\tRUN_ID\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> TrunkFltType\nJoinToFltNbrRangeMatrix derive(flight_number = toString(flight_number)) ~> ChgFltNumToString\nTrunkFltType, FltNbrRangeMatrix join(between(flight_number,BEGIN_FLT_NBR,END_FLT_NBR) && between(scheduled_departure,EFF_DATE,END_DATE),\n\tjoinType:'cross',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'right')~> JoinToFltNbrRangeMatrix\nUnionCMBandSTDfltnbrs sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> FltDataToSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USERCATEGORYblobtoSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Inactive"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SF_source_user_category",
								"type": "DatasetReference"
							},
							"name": "SFUserCategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_USER_CATEGORY_TABLE",
								"type": "DatasetReference"
							},
							"name": "USERCATEGORYtoSQL"
						}
					],
					"transformations": [
						{
							"name": "AddWrkflwIDandTS"
						}
					],
					"script": "parameters{\n\trun_id as string\n}\nsource(output(\n\t\tuser_id as string,\n\t\tcategory_type as string,\n\t\teffective_start as string,\n\t\teffective_end as string,\n\t\tbase_icao_code as string,\n\t\tbase_iata_code as string,\n\t\tbase_faa_code as string,\n\t\tbase_name as string,\n\t\tequipment_group_name as string,\n\t\tequipment_group_code as string,\n\t\tposition_name as string,\n\t\tposition_code as string,\n\t\tupdated_at as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> SFUserCategory\nSFUserCategory derive(ADF_TIMESTAMP = currentTimestamp(),\n\t\tRUN_ID = $run_id) ~> AddWrkflwIDandTS\nAddWrkflwIDandTS sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> USERCATEGORYtoSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/USERblobtoSQL')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "Inactive"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SF_source_user",
								"type": "DatasetReference"
							},
							"name": "SFUser"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "SQL_USER_TABLE",
								"type": "DatasetReference"
							},
							"name": "USERtoSQL"
						}
					],
					"transformations": [
						{
							"name": "AddWrkflwIDandTS"
						}
					],
					"script": "parameters{\n\trun_id as string\n}\nsource(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tdocumentForm: 'documentPerLine') ~> SFUser\nSFUser derive(ADF_TIMESTAMP = currentTimestamp(),\n\t\tRUN_ID = $run_id) ~> AddWrkflwIDandTS\nAddWrkflwIDandTS sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\trecreate:true,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> USERtoSQL"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Airport_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates airport reference data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_airport_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_airport",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "AIRPORTDtoblobSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_airport_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "AIRPORTblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFAirport": {},
									"AIRPORTtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T17:18:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Boeing 767 payload table')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Payload767LBStoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Payload767toSQL",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"PayloadLBS": {},
									"SQL767Payload": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Payload767toSQL')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DOD_Cntrlbl_delay_codes')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger this pipeline manually any time there are changes to the set of DOD controllable delay codes.",
				"activities": [
					{
						"name": "DOD_CNTRLBL_DELAY_CODES",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DODCntrlblDelayCodes",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"DodCntrlDelay": {},
									"DODCntrlDelayToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Delay_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight delay and cancelation data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Delay_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight_delay",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_delays",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "DELAYStoblobSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Delay_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DELAYSblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFDelay": {},
									"DelaysToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T17:18:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Equip_sched_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates aircraft maintenance scheduling data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Equip_Sched_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_equip_sched",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_equip_sched",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "EQUIPSCHEDtoblobSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Equip_Sched_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "EQUIPSCHEDblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFEquipSched": {},
									"EQUIPSCHEDtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T17:18:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Flight_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "flight_number",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_number']"
										}
									},
									{
										"source": {
											"name": "flight_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['flight_date']"
										}
									},
									{
										"source": {
											"name": "aircraft_registration_number",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_registration_number']"
										}
									},
									{
										"source": {
											"name": "aircraft_type",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_type']"
										}
									},
									{
										"source": {
											"name": "ops_type",
											"type": "String"
										},
										"sink": {
											"path": "$['ops_type']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival']"
										}
									},
									{
										"source": {
											"name": "estimated_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_departure']"
										}
									},
									{
										"source": {
											"name": "estimated_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_arrival']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_out",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_out']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_off",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_off']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_on",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_on']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_in",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_in']"
										}
									},
									{
										"source": {
											"name": "base_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['base_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "base_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['base_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "actual_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_departure_airport']"
										}
									},
									{
										"source": {
											"name": "actual_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "is_verified",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_verified']"
										}
									},
									{
										"source": {
											"name": "notes",
											"type": "String"
										},
										"sink": {
											"path": "$['notes']"
										}
									},
									{
										"source": {
											"name": "is_canceled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_canceled']"
										}
									},
									{
										"source": {
											"name": "flight_type",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_type']"
										}
									},
									{
										"source": {
											"name": "cargo_weight",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_weight']"
										}
									},
									{
										"source": {
											"name": "cargo_on",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_on']"
										}
									},
									{
										"source": {
											"name": "cargo_off",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_off']"
										}
									},
									{
										"source": {
											"name": "fuel_out",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_out']"
										}
									},
									{
										"source": {
											"name": "fuel_in",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_in']"
										}
									},
									{
										"source": {
											"name": "fuel_uplift",
											"type": "Int32"
										},
										"sink": {
											"path": "$['fuel_uplift']"
										}
									},
									{
										"source": {
											"name": "fuel_uplifts",
											"type": "String"
										},
										"sink": {
											"path": "$['fuel_uplifts']"
										}
									},
									{
										"source": {
											"name": "maint_log_page",
											"type": "String"
										},
										"sink": {
											"path": "$['maint_log_page']"
										}
									},
									{
										"source": {
											"name": "lndg_touchdown_zone",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_touchdown_zone']"
										}
									},
									{
										"source": {
											"name": "lndg_midfield",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_midfield']"
										}
									},
									{
										"source": {
											"name": "lndg_rollout",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_rollout']"
										}
									},
									{
										"source": {
											"name": "lndg_actual_braking",
											"type": "String"
										},
										"sink": {
											"path": "$['lndg_actual_braking']"
										}
									},
									{
										"source": {
											"name": "pax",
											"type": "Int32"
										},
										"sink": {
											"path": "$['pax']"
										}
									},
									{
										"source": {
											"name": "mission_id",
											"type": "String"
										},
										"sink": {
											"path": "$['mission_id']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_name']"
										}
									},
									{
										"source": {
											"name": "customer_code",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_code']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_flights_PAX",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FLIGHTSblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Flight_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTSblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlight": {},
									"AirportReferenceJSON": {},
									"FltNbrRangeMatrixCSV": {},
									"FlightToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T16:02:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data_TEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FlightBlobToSQLTEST",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TESTFltDataWthCategories_JOIN",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLFltData": {},
									"FltNbrRangeMatrixCSV": {},
									"FltDataToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"date": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Testing"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/TESTFltDataWthCategories_JOIN')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data_TEST_Cust')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Flight_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "flight_number",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_number']"
										}
									},
									{
										"source": {
											"name": "flight_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['flight_date']"
										}
									},
									{
										"source": {
											"name": "aircraft_registration_number",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_registration_number']"
										}
									},
									{
										"source": {
											"name": "aircraft_type",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_type']"
										}
									},
									{
										"source": {
											"name": "ops_type",
											"type": "String"
										},
										"sink": {
											"path": "$['ops_type']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival']"
										}
									},
									{
										"source": {
											"name": "estimated_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_departure']"
										}
									},
									{
										"source": {
											"name": "estimated_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_arrival']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_out",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_out']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_off",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_off']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_on",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_on']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_in",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_in']"
										}
									},
									{
										"source": {
											"name": "base_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['base_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "base_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['base_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "actual_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_departure_airport']"
										}
									},
									{
										"source": {
											"name": "actual_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "is_verified",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_verified']"
										}
									},
									{
										"source": {
											"name": "notes",
											"type": "String"
										},
										"sink": {
											"path": "$['notes']"
										}
									},
									{
										"source": {
											"name": "is_canceled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_canceled']"
										}
									},
									{
										"source": {
											"name": "flight_type",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_type']"
										}
									},
									{
										"source": {
											"name": "cargo_weight",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_weight']"
										}
									},
									{
										"source": {
											"name": "cargo_on",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_on']"
										}
									},
									{
										"source": {
											"name": "cargo_off",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_off']"
										}
									},
									{
										"source": {
											"name": "fuel_out",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_out']"
										}
									},
									{
										"source": {
											"name": "fuel_in",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_in']"
										}
									},
									{
										"source": {
											"name": "fuel_uplift",
											"type": "Int32"
										},
										"sink": {
											"path": "$['fuel_uplift']"
										}
									},
									{
										"source": {
											"name": "fuel_uplifts",
											"type": "String"
										},
										"sink": {
											"path": "$['fuel_uplifts']"
										}
									},
									{
										"source": {
											"name": "maint_log_page",
											"type": "String"
										},
										"sink": {
											"path": "$['maint_log_page']"
										}
									},
									{
										"source": {
											"name": "lndg_touchdown_zone",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_touchdown_zone']"
										}
									},
									{
										"source": {
											"name": "lndg_midfield",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_midfield']"
										}
									},
									{
										"source": {
											"name": "lndg_rollout",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_rollout']"
										}
									},
									{
										"source": {
											"name": "lndg_actual_braking",
											"type": "String"
										},
										"sink": {
											"path": "$['lndg_actual_braking']"
										}
									},
									{
										"source": {
											"name": "pax",
											"type": "Int32"
										},
										"sink": {
											"path": "$['pax']"
										}
									},
									{
										"source": {
											"name": "mission_id",
											"type": "String"
										},
										"sink": {
											"path": "$['mission_id']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_name']"
										}
									},
									{
										"source": {
											"name": "customer_code",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_code']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_flights_TEST",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FLIGHTSblobtoSQL_TEST_Cust",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Flight_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTSblobtoSQL_TEST_Cust",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlight": {},
									"AirportReferenceJSON": {},
									"FltNbrRangeMatrixCSV": {},
									"FlightToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Testing"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T16:02:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data_deprecated_112221')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Flight_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "flight_number",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_number']"
										}
									},
									{
										"source": {
											"name": "flight_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['flight_date']"
										}
									},
									{
										"source": {
											"name": "aircraft_registration_number",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_registration_number']"
										}
									},
									{
										"source": {
											"name": "aircraft_type",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_type']"
										}
									},
									{
										"source": {
											"name": "ops_type",
											"type": "String"
										},
										"sink": {
											"path": "$['ops_type']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival']"
										}
									},
									{
										"source": {
											"name": "estimated_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_departure']"
										}
									},
									{
										"source": {
											"name": "estimated_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_arrival']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_out",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_out']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_off",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_off']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_on",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_on']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_in",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_in']"
										}
									},
									{
										"source": {
											"name": "base_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['base_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "base_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['base_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "actual_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_departure_airport']"
										}
									},
									{
										"source": {
											"name": "actual_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "is_verified",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_verified']"
										}
									},
									{
										"source": {
											"name": "notes",
											"type": "String"
										},
										"sink": {
											"path": "$['notes']"
										}
									},
									{
										"source": {
											"name": "is_canceled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_canceled']"
										}
									},
									{
										"source": {
											"name": "flight_type",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_type']"
										}
									},
									{
										"source": {
											"name": "cargo_weight",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_weight']"
										}
									},
									{
										"source": {
											"name": "cargo_on",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_on']"
										}
									},
									{
										"source": {
											"name": "cargo_off",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_off']"
										}
									},
									{
										"source": {
											"name": "fuel_out",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_out']"
										}
									},
									{
										"source": {
											"name": "fuel_in",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_in']"
										}
									},
									{
										"source": {
											"name": "fuel_uplift",
											"type": "Int32"
										},
										"sink": {
											"path": "$['fuel_uplift']"
										}
									},
									{
										"source": {
											"name": "fuel_uplifts",
											"type": "String"
										},
										"sink": {
											"path": "$['fuel_uplifts']"
										}
									},
									{
										"source": {
											"name": "maint_log_page",
											"type": "String"
										},
										"sink": {
											"path": "$['maint_log_page']"
										}
									},
									{
										"source": {
											"name": "lndg_touchdown_zone",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_touchdown_zone']"
										}
									},
									{
										"source": {
											"name": "lndg_midfield",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_midfield']"
										}
									},
									{
										"source": {
											"name": "lndg_rollout",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_rollout']"
										}
									},
									{
										"source": {
											"name": "lndg_actual_braking",
											"type": "String"
										},
										"sink": {
											"path": "$['lndg_actual_braking']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									},
									{
										"source": {
											"name": "mission_id",
											"type": "String"
										},
										"sink": {
											"path": "$['mission_id']"
										}
									},
									{
										"source": {
											"name": "pax",
											"type": "Int32"
										},
										"sink": {
											"path": "$['pax']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_flights",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FLIGHTblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Flight_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTSblobtoSQLdeprecated112221",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlight": {},
									"AirportReferenceJSON": {},
									"FlightToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Inactive"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T16:02:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_data_incr_base')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF_Flight_data_to_Azure_blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "flight_number",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_number']"
										}
									},
									{
										"source": {
											"name": "flight_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['flight_date']"
										}
									},
									{
										"source": {
											"name": "aircraft_registration_number",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_registration_number']"
										}
									},
									{
										"source": {
											"name": "aircraft_type",
											"type": "String"
										},
										"sink": {
											"path": "$['aircraft_type']"
										}
									},
									{
										"source": {
											"name": "ops_type",
											"type": "String"
										},
										"sink": {
											"path": "$['ops_type']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival']"
										}
									},
									{
										"source": {
											"name": "estimated_departure",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_departure']"
										}
									},
									{
										"source": {
											"name": "estimated_arrival",
											"type": "String"
										},
										"sink": {
											"path": "$['estimated_arrival']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_out",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_out']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_off",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_off']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_on",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_on']"
										}
									},
									{
										"source": {
											"name": "actual_oooi_in",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_oooi_in']"
										}
									},
									{
										"source": {
											"name": "base_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['base_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "sched_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['sched_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_depart_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_depart_airport_id']"
										}
									},
									{
										"source": {
											"name": "actual_arrive_airport_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['actual_arrive_airport_id']"
										}
									},
									{
										"source": {
											"name": "base_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['base_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_departure_airport']"
										}
									},
									{
										"source": {
											"name": "scheduled_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['scheduled_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "actual_departure_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_departure_airport']"
										}
									},
									{
										"source": {
											"name": "actual_arrival_airport",
											"type": "String"
										},
										"sink": {
											"path": "$['actual_arrival_airport']"
										}
									},
									{
										"source": {
											"name": "is_verified",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_verified']"
										}
									},
									{
										"source": {
											"name": "notes",
											"type": "String"
										},
										"sink": {
											"path": "$['notes']"
										}
									},
									{
										"source": {
											"name": "is_canceled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_canceled']"
										}
									},
									{
										"source": {
											"name": "flight_type",
											"type": "String"
										},
										"sink": {
											"path": "$['flight_type']"
										}
									},
									{
										"source": {
											"name": "cargo_weight",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_weight']"
										}
									},
									{
										"source": {
											"name": "cargo_on",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_on']"
										}
									},
									{
										"source": {
											"name": "cargo_off",
											"type": "Int32"
										},
										"sink": {
											"path": "$['cargo_off']"
										}
									},
									{
										"source": {
											"name": "fuel_out",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_out']"
										}
									},
									{
										"source": {
											"name": "fuel_in",
											"type": "Decimal"
										},
										"sink": {
											"path": "$['fuel_in']"
										}
									},
									{
										"source": {
											"name": "fuel_uplift",
											"type": "Int32"
										},
										"sink": {
											"path": "$['fuel_uplift']"
										}
									},
									{
										"source": {
											"name": "fuel_uplifts",
											"type": "String"
										},
										"sink": {
											"path": "$['fuel_uplifts']"
										}
									},
									{
										"source": {
											"name": "maint_log_page",
											"type": "String"
										},
										"sink": {
											"path": "$['maint_log_page']"
										}
									},
									{
										"source": {
											"name": "lndg_touchdown_zone",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_touchdown_zone']"
										}
									},
									{
										"source": {
											"name": "lndg_midfield",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_midfield']"
										}
									},
									{
										"source": {
											"name": "lndg_rollout",
											"type": "Int32"
										},
										"sink": {
											"path": "$['lndg_rollout']"
										}
									},
									{
										"source": {
											"name": "lndg_actual_braking",
											"type": "String"
										},
										"sink": {
											"path": "$['lndg_actual_braking']"
										}
									},
									{
										"source": {
											"name": "pax",
											"type": "Int32"
										},
										"sink": {
											"path": "$['pax']"
										}
									},
									{
										"source": {
											"name": "mission_id",
											"type": "String"
										},
										"sink": {
											"path": "$['mission_id']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									},
									{
										"source": {
											"name": "customer_name",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_name']"
										}
									},
									{
										"source": {
											"name": "customer_code",
											"type": "String"
										},
										"sink": {
											"path": "$['customer_code']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_flights_PAX",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FLIGHTSblobtoSQLincrbase",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF_Flight_data_to_Azure_blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTSblobtoSQL_incr_base",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlight": {},
									"AirportReferenceJSON": {},
									"FltNbrRangeMatrixCSV": {},
									"FlightToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Testing/Incremental Load"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T16:02:16Z"
			},
			"dependsOn": []
		}
	]
}