EAL-MAIN-ADF/linkedTemplates/ArmTemplate_6.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "EAL-MAIN-ADF"
		},
		"Trigger_qk2_properties_pipeline_parameters_windowStart": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowStartTime"
		},
		"Trigger_qk2_properties_pipeline_parameters_windowEnd": {
			"type": "string",
			"defaultValue": "@trigger().outputs.windowEndTime"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Flight_number_range_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Trigger this pipeline manually any time there are changes to the flight number range matrix.",
				"activities": [
					{
						"name": "Flt_nbr_data_to_SQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FltNbrRangeMatrixBlobToSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"FltNbrMatrix": {},
									"FltNbrMatrixToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_offline_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FLIGHTOFLblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTS_OFLblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlight": {},
									"AirportReferenceJSON": {},
									"FlightToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Inactive"
				},
				"annotations": [],
				"lastPublishTime": "2021-06-14T16:02:16Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/MIS_Choice_Pax_Bags')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "MIS_PAX_BAGS_to_Blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "FlattenHierarchy"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['Flight']['ID']"
										},
										"sink": {
											"path": "$['Flight']['ID']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['SegmentNo']"
										},
										"sink": {
											"path": "$['Flight']['SegmentNo']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ExternalID']"
										},
										"sink": {
											"path": "$['Flight']['ExternalID']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CarrierCode']"
										},
										"sink": {
											"path": "$['Flight']['CarrierCode']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['FlightNo']"
										},
										"sink": {
											"path": "$['Flight']['FlightNo']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['MarketingCarrierCode']"
										},
										"sink": {
											"path": "$['Flight']['MarketingCarrierCode']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['MarketingFlightNo']"
										},
										"sink": {
											"path": "$['Flight']['MarketingFlightNo']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['Type']"
										},
										"sink": {
											"path": "$['Flight']['Type']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['TailNo']"
										},
										"sink": {
											"path": "$['Flight']['TailNo']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['OriginIATA']"
										},
										"sink": {
											"path": "$['Flight']['OriginIATA']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['OriginICAO']"
										},
										"sink": {
											"path": "$['Flight']['OriginICAO']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['OriginAirportName']"
										},
										"sink": {
											"path": "$['Flight']['OriginAirportName']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['OriginAirportCity']"
										},
										"sink": {
											"path": "$['Flight']['OriginAirportCity']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['OriginAirportCountryCode']"
										},
										"sink": {
											"path": "$['Flight']['OriginAirportCountryCode']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DepartureTerminal']"
										},
										"sink": {
											"path": "$['Flight']['DepartureTerminal']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DepartureGate']"
										},
										"sink": {
											"path": "$['Flight']['DepartureGate']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DestinationIATA']"
										},
										"sink": {
											"path": "$['Flight']['DestinationIATA']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DestinationICAO']"
										},
										"sink": {
											"path": "$['Flight']['DestinationICAO']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DestinationAirportName']"
										},
										"sink": {
											"path": "$['Flight']['DestinationAirportName']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DestinationAirportCity']"
										},
										"sink": {
											"path": "$['Flight']['DestinationAirportCity']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['DestinationAirportCountryCode']"
										},
										"sink": {
											"path": "$['Flight']['DestinationAirportCountryCode']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ArrivalTerminal']"
										},
										"sink": {
											"path": "$['Flight']['ArrivalTerminal']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ArrivalGate']"
										},
										"sink": {
											"path": "$['Flight']['ArrivalGate']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ScheduledDepartureTime']"
										},
										"sink": {
											"path": "$['Flight']['ScheduledDepartureTime']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ScheduledDepartureTimeUTC']"
										},
										"sink": {
											"path": "$['Flight']['ScheduledDepartureTimeUTC']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EstimatedDepartureTime']"
										},
										"sink": {
											"path": "$['Flight']['EstimatedDepartureTime']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ScheduledArrivalTime']"
										},
										"sink": {
											"path": "$['Flight']['ScheduledArrivalTime']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EstimatedArrivalTime']"
										},
										"sink": {
											"path": "$['Flight']['EstimatedArrivalTime']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['BoardingTime']"
										},
										"sink": {
											"path": "$['Flight']['BoardingTime']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['Message']"
										},
										"sink": {
											"path": "$['Flight']['Message']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['Status']"
										},
										"sink": {
											"path": "$['Flight']['Status']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnablePassengerAPIS']"
										},
										"sink": {
											"path": "$['Flight']['EnablePassengerAPIS']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnableCrewAPIS']"
										},
										"sink": {
											"path": "$['Flight']['EnableCrewAPIS']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnableDCS']"
										},
										"sink": {
											"path": "$['Flight']['EnableDCS']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['WeightUnitsKgs']"
										},
										"sink": {
											"path": "$['Flight']['WeightUnitsKgs']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsOpenSeating']"
										},
										"sink": {
											"path": "$['Flight']['IsOpenSeating']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsProgressiveFlight']"
										},
										"sink": {
											"path": "$['Flight']['IsProgressiveFlight']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnableThroughCheckIn']"
										},
										"sink": {
											"path": "$['Flight']['EnableThroughCheckIn']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnableIatciCheckIn']"
										},
										"sink": {
											"path": "$['Flight']['EnableIatciCheckIn']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['EnableBoarding']"
										},
										"sink": {
											"path": "$['Flight']['EnableBoarding']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['UseAveragePaxWeight']"
										},
										"sink": {
											"path": "$['Flight']['UseAveragePaxWeight']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['UseAverageBagWeight']"
										},
										"sink": {
											"path": "$['Flight']['UseAverageBagWeight']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PnlImported']"
										},
										"sink": {
											"path": "$['Flight']['PnlImported']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsCancelled']"
										},
										"sink": {
											"path": "$['Flight']['IsCancelled']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CancelledBy']"
										},
										"sink": {
											"path": "$['Flight']['CancelledBy']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CancelledReason']"
										},
										"sink": {
											"path": "$['Flight']['CancelledReason']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsLocked']"
										},
										"sink": {
											"path": "$['Flight']['IsLocked']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['LockedBy']"
										},
										"sink": {
											"path": "$['Flight']['LockedBy']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['LockedReason']"
										},
										"sink": {
											"path": "$['Flight']['LockedReason']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['AircraftCapacity']"
										},
										"sink": {
											"path": "$['Flight']['AircraftCapacity']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['BookedPassengersCount']"
										},
										"sink": {
											"path": "$['Flight']['BookedPassengersCount']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['TotalCargoLoad']"
										},
										"sink": {
											"path": "$['Flight']['TotalCargoLoad']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['UpliftFuelLoad']"
										},
										"sink": {
											"path": "$['Flight']['UpliftFuelLoad']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['TotalFuelLoad']"
										},
										"sink": {
											"path": "$['Flight']['TotalFuelLoad']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['RemainingFuelLoad']"
										},
										"sink": {
											"path": "$['Flight']['RemainingFuelLoad']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['AncillaryTemplateID']"
										},
										"sink": {
											"path": "$['Flight']['AncillaryTemplateID']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CustomerID']"
										},
										"sink": {
											"path": "$['Flight']['CustomerID']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['ApiInterfaceIDs']"
										},
										"sink": {
											"path": "$['Flight']['ApiInterfaceIDs']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['BatchPassengerMask']"
										},
										"sink": {
											"path": "$['Flight']['BatchPassengerMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['BatchCrewMemberMask']"
										},
										"sink": {
											"path": "$['Flight']['BatchCrewMemberMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PreDepartureCloseOutPassengerMask']"
										},
										"sink": {
											"path": "$['Flight']['PreDepartureCloseOutPassengerMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PostDepartureCloseOutPassengerMask']"
										},
										"sink": {
											"path": "$['Flight']['PostDepartureCloseOutPassengerMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PreDepartureCloseOutCrewMemberMask']"
										},
										"sink": {
											"path": "$['Flight']['PreDepartureCloseOutCrewMemberMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PostDepartureCloseOutCrewMemberMask']"
										},
										"sink": {
											"path": "$['Flight']['PostDepartureCloseOutCrewMemberMask']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PaxFlightPreDepartureCloseOutStatus']"
										},
										"sink": {
											"path": "$['Flight']['PaxFlightPreDepartureCloseOutStatus']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PaxFlightPostDepartureCloseOutStatus']"
										},
										"sink": {
											"path": "$['Flight']['PaxFlightPostDepartureCloseOutStatus']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CrewFlightPreDepartureCloseOutStatus']"
										},
										"sink": {
											"path": "$['Flight']['CrewFlightPreDepartureCloseOutStatus']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CrewFlightPostDepartureCloseOutStatus']"
										},
										"sink": {
											"path": "$['Flight']['CrewFlightPostDepartureCloseOutStatus']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['PaxBatchPreVetStatus']"
										},
										"sink": {
											"path": "$['Flight']['PaxBatchPreVetStatus']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['HasPassengerSecurityTransactions']"
										},
										"sink": {
											"path": "$['Flight']['HasPassengerSecurityTransactions']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsNotificationAlertsOptional']"
										},
										"sink": {
											"path": "$['Flight']['IsNotificationAlertsOptional']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsContactTracingOptional']"
										},
										"sink": {
											"path": "$['Flight']['IsContactTracingOptional']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsHealthCheckVerificationOptional']"
										},
										"sink": {
											"path": "$['Flight']['IsHealthCheckVerificationOptional']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsHealthCheckAttestationOptional']"
										},
										"sink": {
											"path": "$['Flight']['IsHealthCheckAttestationOptional']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['IsTestEnvironment']"
										},
										"sink": {
											"path": "$['Flight']['IsTestEnvironment']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CheckedInPassengersCount']"
										},
										"sink": {
											"path": "$['Flight']['CheckedInPassengersCount']"
										}
									},
									{
										"source": {
											"path": "$['Flight']['CheckedBagsCount']"
										},
										"sink": {
											"path": "$['Flight']['CheckedBagsCount']"
										}
									}
								],
								"collectionReference": ""
							}
						},
						"inputs": [
							{
								"referenceName": "MIS_Choice_Pax_Bag_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "MIS_Choice_Pax_Bags",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "MISChoicePaxBagsBlobToSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "MIS_PAX_BAGS_to_Blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "MIS_Choice_Pax_Bags_to_SQL",
								"type": "DataFlowReference",
								"parameters": {
									"RunId": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"MISChoicePaxBagsBlob": {},
									"MISCHOICEPAXBAGSSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Testing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pairing_Item_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF pairing item data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pairing_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['pairing_id']"
										}
									},
									{
										"source": {
											"name": "pairing_item_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['pairing_item_id']"
										}
									},
									{
										"source": {
											"name": "pairing_item_type",
											"type": "String"
										},
										"sink": {
											"path": "$['pairing_item_type']"
										}
									},
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "shift_name",
											"type": "String"
										},
										"sink": {
											"path": "$['shift_name']"
										}
									},
									{
										"source": {
											"name": "shift_start_time",
											"type": "String"
										},
										"sink": {
											"path": "$['shift_start_time']"
										}
									},
									{
										"source": {
											"name": "shift_end_time",
											"type": "String"
										},
										"sink": {
											"path": "$['shift_end_time']"
										}
									},
									{
										"source": {
											"name": "shift_type",
											"type": "String"
										},
										"sink": {
											"path": "$['shift_type']"
										}
									},
									{
										"source": {
											"name": "shift_is_work",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['shift_is_work']"
										}
									},
									{
										"source": {
											"name": "shift_is_reserve",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['shift_is_reserve']"
										}
									},
									{
										"source": {
											"name": "shift_is_sick",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['shift_is_sick']"
										}
									},
									{
										"source": {
											"name": "shift_is_training",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['shift_is_training']"
										}
									},
									{
										"source": {
											"name": "shift_is_vacation",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['shift_is_vacation']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_pairing_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_pairing_item",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PAIRINGITEMblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF pairing item data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PAIRINGITEMblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFPairingItem": {},
									"PARINGITEMtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Inactive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Pairing_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF pairing data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "pairing_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['pairing_id']"
										}
									},
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['user_id']"
										}
									},
									{
										"source": {
											"name": "position",
											"type": "String"
										},
										"sink": {
											"path": "$['position']"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"path": "$['name']"
										}
									},
									{
										"source": {
											"name": "date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['date']"
										}
									},
									{
										"source": {
											"name": "start_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['start_date']"
										}
									},
									{
										"source": {
											"name": "end_date",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['end_date']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_pairing",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_pairing",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "PAIRINGblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF pairing data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "PAIRINGblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFPairing": {},
									"PARINGtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Inactive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TESTfltdatawthCategories')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Adds Revenue Type and Subtype to flight data.",
				"activities": [
					{
						"name": "FlightBlobToSQLTEST",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TESTFltDataWthCategories_JOIN",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SQLFltData": {},
									"FltNbrRangeMatrixCSV": {},
									"FltDataToSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"date": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Testing"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/flight_crew_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Populates flight crew data in SQL Server DB from SkedFlex.",
				"activities": [
					{
						"name": "SF flight crew data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['user_id']"
										}
									},
									{
										"source": {
											"name": "position_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['position_id']"
										}
									},
									{
										"source": {
											"name": "position_code",
											"type": "String"
										},
										"sink": {
											"path": "$['position_code']"
										}
									},
									{
										"source": {
											"name": "trip_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['trip_id']"
										}
									},
									{
										"source": {
											"name": "flight_id",
											"type": "Int64"
										},
										"sink": {
											"path": "$['flight_id']"
										}
									},
									{
										"source": {
											"name": "is_deadhead",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_deadhead']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_flight_crew",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_flight_crew",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "FLIGHTCREWblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF flight crew data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FLIGHTCREWblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFFlightCrew": {},
									"FLIGHTCREWtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/shift_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF shift data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "shift_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['shift_id']"
										}
									},
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['user_id']"
										}
									},
									{
										"source": {
											"name": "name",
											"type": "String"
										},
										"sink": {
											"path": "$['name']"
										}
									},
									{
										"source": {
											"name": "start_time",
											"type": "String"
										},
										"sink": {
											"path": "$['start_time']"
										}
									},
									{
										"source": {
											"name": "end_time",
											"type": "String"
										},
										"sink": {
											"path": "$['end_time']"
										}
									},
									{
										"source": {
											"name": "type",
											"type": "String"
										},
										"sink": {
											"path": "$['type']"
										}
									},
									{
										"source": {
											"name": "is_work",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_work']"
										}
									},
									{
										"source": {
											"name": "is_reserve",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_reserve']"
										}
									},
									{
										"source": {
											"name": "is_sick",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_sick']"
										}
									},
									{
										"source": {
											"name": "is_training",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_training']"
										}
									},
									{
										"source": {
											"name": "is_vacation",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_vacation']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_shift",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_shift",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "SHIFTblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF shift data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SHIFTblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFShift": {},
									"SHIFTtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Inactive"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/user_category_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF user category data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['user_id']"
										}
									},
									{
										"source": {
											"name": "category_type",
											"type": "String"
										},
										"sink": {
											"path": "$['category_type']"
										}
									},
									{
										"source": {
											"name": "effective_start",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['effective_start']"
										}
									},
									{
										"source": {
											"name": "effective_end",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['effective_end']"
										}
									},
									{
										"source": {
											"name": "base_icao_code",
											"type": "String"
										},
										"sink": {
											"path": "$['base_icao_code']"
										}
									},
									{
										"source": {
											"name": "base_iata_code",
											"type": "String"
										},
										"sink": {
											"path": "$['base_iata_code']"
										}
									},
									{
										"source": {
											"name": "base_faa_code",
											"type": "String"
										},
										"sink": {
											"path": "$['base_faa_code']"
										}
									},
									{
										"source": {
											"name": "base_name",
											"type": "String"
										},
										"sink": {
											"path": "$['base_name']"
										}
									},
									{
										"source": {
											"name": "equipment_group_name",
											"type": "String"
										},
										"sink": {
											"path": "$['equipment_group_name']"
										}
									},
									{
										"source": {
											"name": "equipment_group_code",
											"type": "String"
										},
										"sink": {
											"path": "$['equipment_group_code']"
										}
									},
									{
										"source": {
											"name": "position_name",
											"type": "String"
										},
										"sink": {
											"path": "$['position_name']"
										}
									},
									{
										"source": {
											"name": "position_code",
											"type": "String"
										},
										"sink": {
											"path": "$['position_code']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_user_category",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_user_category",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "USERCATEGORYblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF user category data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "USERCATEGORYblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFUserCategory": {},
									"USERCATEGORYtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/user_data')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SF user data to Azure blob",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "PostgreSqlSource"
							},
							"sink": {
								"type": "JsonSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "JsonWriteSettings"
								}
							},
							"enableStaging": false,
							"enableSkipIncompatibleRow": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "user_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['user_id']"
										}
									},
									{
										"source": {
											"name": "payroll_id",
											"type": "Int32"
										},
										"sink": {
											"path": "$['payroll_id']"
										}
									},
									{
										"source": {
											"name": "employee_id",
											"type": "String"
										},
										"sink": {
											"path": "$['employee_id']"
										}
									},
									{
										"source": {
											"name": "username",
											"type": "String"
										},
										"sink": {
											"path": "$['username']"
										}
									},
									{
										"source": {
											"name": "first_name",
											"type": "String"
										},
										"sink": {
											"path": "$['first_name']"
										}
									},
									{
										"source": {
											"name": "middle_name",
											"type": "String"
										},
										"sink": {
											"path": "$['middle_name']"
										}
									},
									{
										"source": {
											"name": "last_name",
											"type": "String"
										},
										"sink": {
											"path": "$['last_name']"
										}
									},
									{
										"source": {
											"name": "preferred_nickname",
											"type": "String"
										},
										"sink": {
											"path": "$['preferred_nickname']"
										}
									},
									{
										"source": {
											"name": "email",
											"type": "String"
										},
										"sink": {
											"path": "$['email']"
										}
									},
									{
										"source": {
											"name": "pilot_license",
											"type": "String"
										},
										"sink": {
											"path": "$['pilot_license']"
										}
									},
									{
										"source": {
											"name": "phone_numbers",
											"type": "String"
										},
										"sink": {
											"path": "$['phone_numbers']"
										}
									},
									{
										"source": {
											"name": "date_of_birth",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['date_of_birth']"
										}
									},
									{
										"source": {
											"name": "date_of_hire",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['date_of_hire']"
										}
									},
									{
										"source": {
											"name": "date_of_longevity",
											"type": "DateTime"
										},
										"sink": {
											"path": "$['date_of_longevity']"
										}
									},
									{
										"source": {
											"name": "company_rank",
											"type": "Int32"
										},
										"sink": {
											"path": "$['company_rank']"
										}
									},
									{
										"source": {
											"name": "pilot_rank",
											"type": "Int32"
										},
										"sink": {
											"path": "$['pilot_rank']"
										}
									},
									{
										"source": {
											"name": "fa_rank",
											"type": "Int32"
										},
										"sink": {
											"path": "$['fa_rank']"
										}
									},
									{
										"source": {
											"name": "updated_at",
											"type": "String"
										},
										"sink": {
											"path": "$['updated_at']"
										}
									},
									{
										"source": {
											"name": "enabled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['enabled']"
										}
									},
									{
										"source": {
											"name": "deleted",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['deleted']"
										}
									},
									{
										"source": {
											"name": "is_disabled",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['is_disabled']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "SF_source_bi_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "SF_source_user",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "USERblobtoSQL",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "SF user data to Azure blob",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "USERblobtoSQL",
								"type": "DataFlowReference",
								"parameters": {
									"run_id": {
										"value": "'@{pipeline().RunId}'",
										"type": "Expression"
									}
								},
								"datasetParameters": {
									"SFUser": {},
									"USERtoSQL": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "PROD"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Trigger_qk2')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "TCN_COPY_TEST",
						"type": "PipelineReference"
					},
					"parameters": {
						"windowStart": {
							"type": "Expression",
							"value": "[parameters('Trigger_qk2_properties_pipeline_parameters_windowStart')]"
						},
						"windowEnd": {
							"type": "Expression",
							"value": "[parameters('Trigger_qk2_properties_pipeline_parameters_windowEnd')]"
						}
					}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Minute",
					"interval": 15,
					"startTime": "2021-08-23T20:15:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AIRPORT trigger after midnight UTC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"Midnight UTC"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Airport_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-11-08T00:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"count": 5,
						"intervalInSeconds": 240
					},
					"dependsOn": []
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EQUIP_SCHED trigger every 24 hrs')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Runs Equip_Sched_data pipeline every 24 hours.",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Equip_sched_data",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2022-05-02T06:00:00",
						"timeZone": "Eastern Standard Time"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Flight_Crew trigger 1am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"5:00 a.m. UTC"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "flight_crew_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-10-02T05:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/flight_crew_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Test account restart trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Equip_sched_data",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Minute",
						"interval": 15,
						"startTime": "2022-04-11T16:10:00Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_Category trigger 1-2am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extracts all data from USER_CATEGORY_PROD table at 1 or 2 a.m. lcl, depending on DST.",
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "user_category_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-12-12T06:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/user_category_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/User_data trigger 1-2am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Extracts all data for USER_PROD table at 1:10 or 2:10 a.m. lcl., depending on DST.",
				"annotations": [],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "user_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2022-03-15T06:10:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"intervalInSeconds": 30
					},
					"dependsOn": []
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/user_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELAYS trigger 630 am')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "ETL populates dbo.SF_DELAYS_PROD SQL Server table at 6:30 a.m. EDT",
				"annotations": [
					"10:30 a.m. UTC"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Delay_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-08-16T10:30:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"count": 5,
						"intervalInSeconds": 240
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"offset": "-0:10:30:00",
							"referenceTrigger": {
								"referenceName": "AIRPORT trigger after midnight UTC",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/triggers/AIRPORT trigger after midnight UTC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FLIGHT trigger after midnight UTC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"Midnight UTC"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Flight_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-11-05T00:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"count": 5,
						"intervalInSeconds": 240
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "AIRPORT trigger after midnight UTC",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/triggers/AIRPORT trigger after midnight UTC')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DELAYS trigger after midnight UTC')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [
					"Midnight UTC"
				],
				"runtimeState": "Started",
				"pipeline": {
					"pipelineReference": {
						"referenceName": "Delay_data",
						"type": "PipelineReference"
					},
					"parameters": {}
				},
				"type": "TumblingWindowTrigger",
				"typeProperties": {
					"frequency": "Hour",
					"interval": 24,
					"startTime": "2021-11-05T00:00:00Z",
					"delay": "00:00:00",
					"maxConcurrency": 50,
					"retryPolicy": {
						"count": 5,
						"intervalInSeconds": 240
					},
					"dependsOn": [
						{
							"type": "TumblingWindowTriggerDependencyReference",
							"referenceTrigger": {
								"referenceName": "FLIGHT trigger after midnight UTC",
								"type": "TriggerReference"
							}
						}
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/triggers/FLIGHT trigger after midnight UTC')]"
			]
		}
	]
}